name: Spring Boot CI

on:
  push:
    branches:
      - master // 브랜치 확인

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21' // 자바  버전 확인
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven // 프로젝트 형식 확인
        run: mvn clean package -DskipTests